* {
    box-sizing: border-box;
}

html, body {
    margin: 0;
    padding: 0;
    height: 100%;
}

body {
    font-family: sans-serif;
    background-color: #fff;
}

ul {
    margin: 0;
}

a, a:visited {
    color: inherit;
}

#content {
    max-width: 800px;
    height: 100%;
    margin: auto;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: stretch;
    align-content: stretch;
}

.bg-chateau {
    background-image: url('/assets/img/chateau.png');
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center bottom;
}

h1 {
    padding-top: 3rem;  
}

.messages {
    padding: .5rem;
    flex: 1 1 auto;
    overflow: auto;
}

.nice-input {
    padding: 0;
    text-align: center;
    font-size: 1rem;
    display: flex;

    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: stretch;
    align-content: stretch;

    border: 3px solid black;
    background: white;
    margin: 0 5px 5px;
}

.nice-input button,
.nice-input input {
    border: none;
    outline: none;
    background: transparent;
}

.nice-input button {
    width: 3rem;
    height: 3rem;
    text-align: center;
    cursor: pointer;
    background: #eee;
}

.nice-input input {
    height: 3rem;
    min-height: 3rem;
    flex: 1 1 auto;
    padding: .5rem 1rem;
    font-size: 1.05rem;
}

.msg {
    padding: .5rem;
}

.msg.bot {
    background: lightgoldenrodyellow;
    font-family: monospace;
    font-size: 1rem;
}

.error {
    color: red;
}

.ago {
    float: right;
    display: block;
    font-size: 0.5rem;
    line-height: 1rem;
    height: 1rem;
    color: #bbb;
    font-family: sans-serif;
}

.go-home {
    line-height: 2rem;
    margin-top: 3.5rem;
}

.username-window {
    background-color: white;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0; bottom: 0;
    left: 0; right: 0;
    padding-bottom: 5rem;
    display: flex;
    flex-direction: column;
    
    align-items: stretch;
    align-content: center;
}

.w-small {
    max-width: 400px;
    margin: auto;
}

.float {
    float: right;
}

.hidden {
    display: none;
}