{% extends "layout/layout.html" %}

{% set title = "Le Château" %}
{% set bodyclass = "chateau-bg" %}
{% block content %}

<h1>Le Château</h1>

<p>Visit any Chatroom:</p>
<ul>
    <li><a href="/room/general">General</a></li>
    <li><a href="/room/music">Music</a></li>
    <li><a href="/room/video-games">Video Games</a></li>
    <li><a href="/room/fitness">Fitness</a></li>
    <li><a href="/room/random">Random</a></li>
</ul>

<p>Or create it yourself:</p>

<section class="message-input">
    <input class="content" type="text" maxlength="40" />
    <button class="send">Go</button>
</section>

<script src="/assets/sections/index-page.js"></script>

{% endblock %}