{% extends "layout/layout.html" %}

{% set title = room + " chatroom" %}

{% block content %}

<section class="messages">
    {% for message in messages %}
    {% include "partials/message.html" %}
    {% endfor %}
</section>

<section class="message-input">
    <input class="content" type="text" maxlength="1000" />
    <button class="send">
        Send
    </button>
</section>

<script src="/assets/vendor/socket.io.min.js"></script>
<script src="/assets/vendor/moment.min.js"></script>
<script src="/assets/chateau.js"></script>
{% endblock %}
