{% extends "layout/layout.html" %}

{% set title = room + " chatroom" %}

{% block content %}

<section class="messages chateau-bg">
    <div>
        <div class="float go-home">
            <small><a href="/">Go home</a></small>
        </div>
        <h1>{{ room | title }} Chatroom</h1>
    </div>

    {% for message in messages %}
    {% include "partials/message.html" %}
    {% endfor %}
</section>

<section class="message-input nice-input">
    <input class="content" type="text" maxlength="1000" />
    <button class="send">Send</button>
</section>

<section class="username-window bg-chateau">
    <div class="w-small">
        <h3>Enter your username:</h3>
        <section class="username-input nice-input">
            <input class="content" type="text" maxlength="40" />
            <button class="send">Login</button>
        </section>
        <p>Or go back <a href="/">home</a>.</p>
    </div>
</section>

<script type="text/template" id="message-template">
    <div class="msg">
        <b>{author}:</b> {message}
        <span class="ago" data-timestamp="{timestamp}"></span>
    </div>
</script>

<script src="/assets/vendor/socket.io.min.js"></script>
<script src="/assets/vendor/moment.min.js"></script>
<script src="/assets/sections/room.js"></script>
{% endblock %}
